<%= stylesheet_link_tag 'hello', :media => "all" %>
<div class="jumbotron">
  <h1 class="display-4">GeekInstagram</h1>
  <p class="lead">めちゃくちゃ急いで作りました…。よろしくお願いします。。</p>
  <hr class="my-4">
  <p>どうぞこちらからお入りください。いってらっしゃい！</p>
  <%= link_to "ログイン", posts_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>