* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: white;
  background-color: #303030;
}
header {
  background-color: #A93DD0;
  width: 100%;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 1;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}

main {
  margin-top: 100px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 100px
}

img {
  width: 250px;
}

footer {
  color: white;
  height: 30px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}

@media screen and (max-width:640px) {/* 600px以下*/
  header {
    background-color: #A93DD0;
    width: 100%;
    height: 80px;
    font-weight: bold;
    display: block;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 1;
  }
}
