.posts-container {
  width: 50%;
  margin: 10px auto;
  margin-top: 0;
}
h3 {
  margin: 30px auto;
  text-align: center;
}

form.button_to {
  margin: 3px;
}

.post {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 16px;
  background-color: #FFF;
  margin-right: auto;
  margin-left: auto;
}

img {
  height: 250px;
  object-fit: cover;
}

.card-name {
  display: fles;
}

.left-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-name img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.search button {
  border: 0;
}

.bi {
  font-size: 16px;
}

.time {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:640px) {/* 600px以下*/
  .posts-container {
    width: 100%;
    margin: 10px auto;
    margin-top: 0;
  }
  .card {
    width: 100%;
  }
}
