.posts-container {
  width: 50%;
  margin: 10px auto;
  margin-top: 0;
}
h3 {
  margin: 30px auto;
  text-align: center;
}
.post {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 16px;
  background-color: #101010;
  margin-right: auto;
  margin-left: auto;
}

.time {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:640px) {/* 600px以下*/
  .posts-container {
    width: 100%;
    margin: 10px auto;
    margin-top: 0;
  }
  .card {
    width: 100%;
    margin-bottom: 16px;
    background-color: #101010;
    margin-right: auto;
    margin-left: auto;
  }
}
